# 忽略版本控制資料夾
.git
.gitignore

# 忽略編譯產物
*.o
*.so
*.a
*.pyc
__pycache__/
build/
devel/
install/
*.egg-info
*.log

# 忽略 OS/IDE 檔案
.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/
.idea/
*.bak

# 忽略特定資料夾
control/src/hdl_ws/build/
control/src/lidar_ws/build/
